// Colores base
$color-beige: #F2D8A7;
$color-marron-claro: #a67d32;
$color-marron-medio: #8e7850;
$color-marron-oscuro: #6c511f;
$color-marron-profundo: #734E40;
$color-marron-vino:#523d15;
$color-marron-tostado: #ca993d;
$color-verde-opaco:#a58d5f;
$color-marron-claro-transparente: rgba(201, 164, 94, 0.8);

// Tipografías
$font-principal: 'Inter', serif;
$font-secundaria: 'Syne', serif;

// Tamaños de fuente
$font-h1: 3rem;
$font-h2: 3rem;
$font-h3: 2rem;
$font-h4: 2rem;
$font-h3-movil: 2rem;
$font-h2-movil: 1.5rem;
$font-base: 1rem;
$font-btn-lg: 2rem;
$font-btn-icon: 3rem;
$font-clases:4rem;
