//variables
@import "../abstract/variables";
//mixin
@import "../abstract/mixin";

//Pagina pilates
.seccionPilates{
    .reformerB{
        .H2T{
            @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-btn-lg, $weight: 700);
            opacity: 90%;
            }
            .fa-circle-chevron-up{
            color: $color-beige;
            font-size: $font-btn-lg;
            }
        }
    p{
        @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-base, $weight: 400);
        opacity: 90%;
    }
    a{
        @include boton($bg: $color-beige, $color: $color-marron-profundo);
    }
    .seccionPilatesR{
        @include bg-cover-custom('../assets/IMG/Reformer.png', $size: cover, $position: center);
        height: 100%;
        height: 100vh;
        text-align: start; 
        padding: 32rem 3rem 10rem 3rem;
        .btn-primary:hover{
            @include boton-hover($bg-hover: $color-marron-oscuro, $color-hover: $color-beige);
        }
        .collapse-up {
            @include collapse;
            }    
}
.seccionPilatesM{
    @include bg-cover-custom('../assets/IMG/Matt.png', $size: cover, $position: center);
    @include seccionPilates;
    .btn-primary:hover{
        @include boton-hover($bg-hover: $color-marron-oscuro, $color-hover: $color-beige);
    }
    .collapse-up {
        @include collapse;
        }  
}
.seccionPilatesS{
    @include bg-cover-custom("../assets/IMG/Stott.png", $size: cover, $position: center);
    @include seccionPilates;
    .btn-primary:hover{
        @include boton-hover($bg-hover: $color-marron-oscuro, $color-hover: $color-beige);}
    .collapse-up {
        @include collapse;
        }  
    }
}
.videosP{
    h3{
        @include titulo($color: $color-marron-medio, $font: $font-secundaria, $size: $font-h1, $weight: 700);
    }
    h4{
        @include titulo($color: $color-marron-medio, $font: $font-secundaria, $size: $font-h4, $weight: 700);
        opacity: 90%;
    }
}
@media screen and (max-width: 768px){
    .seccionPilates{
        .seccionPilatesR{
            height: 64vh;
            padding-top: 15rem;
        }
       .seccionPilatesM,.seccionPilatesS{
            height: 50vh;
            padding-top: 15rem;
       }
    }
    .videosP{
        h3{
            font-size: $font-h3;
        }
        h4{
            font-size: $font-h4;
            padding-top: 0rem;
        }
        iframe{
            margin-bottom: 0rem;
            align-items: center;
            margin-left: 2rem;
        }
    }
}
@media screen and (max-width: 480px){
    .seccionPilates{
        .seccionPilatesR{
            height: 100%;
            height: 50vh;
            padding-top: 6rem;
        }
       .seccionPilatesM,.seccionPilatesS{
            height: 100%;
            height: 33vh;
            padding-top: 3rem;
            .img{
                object-position: bottom;
            }
       }
    }
    .collapse-up{
        display: none;
    }
    .videosP{
        h3{
            font-size: $font-h3;
        }
        h4{
            font-size: $font-h4;
        }
        iframe{
            margin-bottom: 0rem;
            align-items: center;
            margin-left: 0rem;
        }
    }
}