//variables
@import "../abstract/variables";
//mixin
@import "../abstract/mixin";

.seccionY{
    .H1t{
        color: #F2D8A7;
        font-size: 3rem;
    }
    .H2T{
        @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-h3, $weight: 700);
        opacity: 90%;
    }
    p{
        @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-base, $weight: 400);
        opacity: 90%;
    }
    a{
        @include boton($bg: $color-beige, $color: $color-marron-profundo)
    }
    .seccionYogaA{  
        @include bg-cover-custom('../assets/imagenes/yogaAshtanga1.png', $size: cover, $position: center);
        height: 100%;
        height: 100vh;
        padding: 32rem 3rem 10rem 3rem;
        .collapse-up {
            @include collapse;
            }   
        .btn-primary:hover{
        @include boton-hover($bg-hover: $color-marron-oscuro, $color-hover: $color-beige); 
        }
        .ashtangaB{
            .H2T{
            @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-btn-lg, $weight: 700);
            opacity: 90%;
            }
            .fa-circle-chevron-up{
            color: $color-beige;
            font-size: $font-h4;
            padding-left: 6rem;
            }
        }
    }
    .seccionYogaV{
        @include bg-cover-custom('../assets/imagenes/yogaVinsaya.png', $size: cover, $position: center);
        @include seccionPilates;
        .btn-primary:hover{
           @include boton-hover($bg-hover: $color-marron-oscuro, $color-hover: $color-beige);
         }
        .collapse-up {
            @include collapse;
            }
            .vinsayaB{
            .H2T{
            @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-btn-lg, $weight: 700);
            opacity: 90%;
            }
            .fa-circle-chevron-up{
            color: $color-beige;
            font-size: $font-h4;
            padding-left: 7.8rem;
            }
         }  
    }
    .seccionYogaR{
        @include bg-cover-custom('../assets/imagenes/restaurativo.png', $size: cover, $position: center);
        @include seccionPilates;
        .btn-primary:hover{
             @include boton-hover($bg-hover: $color-marron-oscuro, $color-hover: $color-beige);
            }
        .collapse-up {
           @include collapse;
        } 
        .restaurativoB{
            .H2T{
            @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-btn-lg, $weight: 700);
            opacity: 90%;
            }
            .fa-circle-chevron-up{
            color: $color-beige;
            font-size: $font-h4;
            padding-left: 2.5rem;
            }
         }  
    }
}
@media screen and (max-width: 768px){
    .seccionY{
         p{
        @include titulo($color: $color-beige, $font: $font-secundaria, $size: $font-h3, $weight: 400);
        opacity: 90%;
        }
        .seccionYogaA{
            @include bg-cover-custom("../assets/imagenes/yogaAshtanga1movil.png", $size: cover, $position: center);
            height: 90vh;
            padding-top: 40rem;
            .fa-circle-chevron-up{
            display: none;
            }
        }
        .seccionYogaV{
            @include bg-cover-custom("../assets/imagenes/yogaVinsayamovil.png", $size: cover, $position: center);
            height: 100%;
            height: 80vh;
            padding-top: 40rem;
            .fa-circle-chevron-up{
            display: none;
            }
        }
        .seccionYogaR{
            @include bg-cover-custom("../assets/imagenes/restaurativomovil.png", $size: cover, $position: center);
            height: 100%;
            height: 80vh;
            padding-top: 40rem;
            .fa-circle-chevron-up{
            display: none;
            }
        }
    }
}
@media screen and (max-width: 480px){
    .seccionY{
        .seccionYogaA{
            .H2T{
                text-align: start;
            }
            height: 100%;
            height: 90vh;
            padding-top: 22rem;
        }
        .seccionYogaV,.seccionYogaR{
            height: 100%;
            height: 80vh;
            padding-top: 12rem;
       }
       .collapse-up{
        display: none;
        }
    }

}